<footer class="rodape">

</footer>

</body>

<footer class="rodape">
<div class="info-rodape">
    <h1>Fique Conectado </h1>
    <p>De clássicos cult a obras-primas modernas.<br>
        Fique atualizado com os últimos filmes, notícias e artigos da netflix</p>
        <div class="input-rodape">
            <input type="text" placeholder="E-mail">
            <button> Enviar</button>

        </div>
</div>
<div class="img-rodape">
   

</div>



</footer>
