<header>
    <a href="#" class="logo"><img src="../public/images/logo.png"></a>
    <ul class="navigation">
        <li><a href="#">Filmes </a></li>
        <li><a href="#">Séries</a></li>
        <li><a href="#">Kids</a></li>
        <li><a href="#">Assistir depois </a></li>
    </ul>
    <div class="search">
        <input type="text" placeholder="Search">
        <i class="fas fa-search"></i>
    </div>

    <div class="usuario"><img src="../public/images/avatar-jessica.png">
        <p>@jessica</p>

    </div>

</header>