@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 17px;
    border-bottom: 1px rgb(184, 181, 181) solid;
}

.imagens{
   
    display: flex;
    justify-content: center;
    margin-top: 120px;
    
}

div{
    border: 1px rgb(255, 255, 255) solid;
   
}

.img-01{
    margin-right: 20px;
}

.img-02{
    margin-right: 20px;
}

.img-03{
    margin-right: 20px;
}


.texto-01{
    margin-top: 30px;
    display: grid ;
   justify-content: center;
}

.div-texto{
    max-width: 280px;
}

h2{
    font-size: 21px;
}

h1{
    margin-top: 30px;
    font-size: 24px;
}

.texto-final{
 margin-top: 30px;
 display: flex;
 justify-content: center;

}

.final{
    max-width: 380px;
}

.BOTAO{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

button{
    width: 300px;
    height: 45px;
    border: none;
    background: #FF0000;
    color: white;
    font-size: 17px;
}