<!DOCTYPE html>
<html lang="en">
<head>

    <%-include('partials/head')%>


</head>
 <header>
    
    <%-include('partials/header')%>

    </header>

    <body>
    <div class="Filmes">
        <p>Filmes</p>
        <img src="../public/images/a-voz-suprema-do-blues.jpg" height="280" width="190" style="margin-right: 10px; margin-bottom: 10px;">
        <img src="../public/images/atraves-da-minha-janela.jpg" height="280" width="190" style="margin-right:10px; margin-bottom: 10px;">
        <img src="../public/images/hustle.jpg" height="280" width="190" style="margin-right:10px; margin-bottom: 10px;">
        <img src="../public/images/beasts-of-no-nation.jpg" height="280" width="190" style="margin-right:10px; margin-bottom: 10px;">
        <img src="../public/images/Netflix-Ja-Nao-Me-Sinto-Em-Casa-Neste-Mundo.jpg" height="280" width="190" style="margin-right:10px; margin-bottom: 10px;">
        <img src="../public/images/não-olhe-pra-cima.jpg" height="280" width="190" style="margin-right:10px; margin-bottom: 10px;">
        <img src="../public/images/de-chicago.jpg" height="280" width="190" style="margin-right:10px; ">
        <img src="../public/images/irlandes.jpg" height="280" width="190" style="margin-right:10px;">
        <img src="../public/images/the-power-of-the-dog.jpg" height="280" width="190" style="margin-right:10px;">
        <img src="../public/images/the-weekend-away.jpg" height="280" width="190" style="margin-right:10px;">
        <img src="../public/images/onde-esta-segunda.jpg" height="280" width="190" style="margin-right:10px;">
        <img src="../public/images/contra-o-gelo.jpg" height="280" width="190" style="margin-right:10px;">

   
</body>
    <footer class="rodape">
        <%-include('partials/footer')%>

    </footer>

</body>

</html>

