<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" href="../public/stylesheets/home.css">
</head>

<body>
    <div class="box-principal">


        <header class="cabecalho">
            <img class="logo" src="../public/images/netflixlogo.png" alt="">
            <a href="">Entrar</a>
        </header>
        <main class="main">

            <div class="main-filho">

                <h1>Filmes, programas de
                    TV e muito mais. Sem Limites.</h1>
                <span>Assista onde quiser. Cancele onde quiser.</span>
                <form class="form-cta">
                    <input type="text" placeholder="@email" required>
                    <button type="submit">VAMOS LÁ</button>
                </form>
                <p>Pronto para assistir ? Informe seu email ?</p>
            </div>



            <div class="efeito-escuro"></div>

        </main>

        <section class="section">
            <di class="container">

                <div class="texto-imagen">

                    <h1 class="anuncio">Aproveite a TV.</h1>
                    <p class="texto-01">Assista em Smart TVs. Playtation, Xbox, Chromecast, Apple TV, </p>

                </div>

                <img class="imagen-01" src="../public/images/29640702888_cd4826b399_c.jpg" alt="">

    </div>
    </section>

    <section class="section-02">
        <div class="container-02">

            <img class="imagen-02" src="../public/images/08.png" alt="">
            <div class="texto-02">
                <h1 class="anuncio-02">Baixe seus Programas Para assistir. Offline</h1>
                <p class="paragrafo-02">Salve seus favoritos facilmente e sempretenha algo para assistir</p>
            </div>


        </div>
    </section>

    <section class="section-03">
        <div class="container-03">


            <div class="texto-03">
                <h1 class="anuncio-03">Assista em todos os lugares.</h1>
                <p>Transmita filmes e programas de TV ilimitados em seu telefone, yablet, laptop e TV sem pagar mais.
                </p>
            </div>
            <img class="imagen-03" src="../public/images/03.png" alt="">
        </div>
    </section>

    <section class="section-04">
        <img class="imagen-04" src="../public/images/vilva.jpg" alt="">

        <div class="container-04">
            <h1>Series para sua famaiia.</h1>
            <p class="paragrafo-04">Assita os ultimos lançamentos. temporadas ineditas de series recem lançadas.</p>
        </div>

    </section>

    <footer>


        <div class="infor-01">
            <h4>Duvidas? Ligue para 1-844-505-2993</h4>
            <p class="T-01">Perguntas Frequentes</p>
            <p class="T-02">Reclamações</p>
            <p class="T-03">Duvidas Sobre</p>
        </div>

        <div class="infor-02">
            <h4>Centro de Ajuda</h4>
            <p class="T-04">Informações corporativas</p>
        </div>

        <div class="infor-03">
            <h4>Termos de Uso</h4>
            <p class="T-05">ajuda</p>
        </div>

    </footer>
    </div>
</body>

</html>