<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento 02 e 03</title>
    <link rel="stylesheet" href="../public/stylesheets/pagamento2.css">
</head>
<body>
    <%-include('partials/headerpag.ejs')%>
    <main>
        <section class="conteudo-01">
            <h3  class="P-1">PASSO 2 E 3</h3>
            <h1  class="P-2">Escolha o Melhor Plano para você</h1>
            
        </section>

        <div class="paragrafo" >
            <p class="paragrafo-texto">Assista o quanto quiser. Sem anúncios.</p>
            <p class="paragrafo-texto">Recomendações especiais para você</p> 
             <p class="paragrafo-texto">Altere ou cancele seu plano quando quiser. </p>
        </div>

        <section class="baloes">
            <div class="balao"><p class="nomes">Basico</p></div>
            <div class="balao"><p class="nomes">Padrão</p></div>
            <div class="balao"><p class="nomes">Premium</p></div>
            
            
        </section>

        <section>

            <div class="preco">
            <p>Preço por mês</p>
            <p class="preco-01">R$ 25,90</p>
            <p class="preco-02">R$ 25,90</p>
            
            <p class="preco-03">R$ 25,90</p>
            </div>

            <hr>

            <div class="preco" style="margin-top: 10px;">
                <p>Qualidade de video</p>
                <p class="preco-01">Boa</p>
                <p class="preco-02">Melhor</p>
                <p class="preco-03">Superior</p>
                </div>

                <hr>

                <div class="preco" style="margin-top: 10px;">
                    <p>Resolução</p>
                    <p class="preco-01">280p</p>
                    <p class="preco-02">480p</p>
                    <p class="preco-03">2040p</p>
                    </div>

                    <hr>
                    
                    <div class="preco" style="margin-top: 10px;">
                        <p>Assista na TV, computador, celular ou tablet</p>
                        
                        </div>

                        
        </section>

        
        <div class="botao">
            <button >Próximo</button>
        </div>s
     

    </main>

    
</body>
</html>