<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de pagamento</title>
    <link rel="stylesheet" href="../public/stylesheets/pagamento3.css">
</head>
<body>
    <%-include('partials/headerpag.ejs')%>
    <div class="div">
        <h3>Passo 3 de 3</h3>
        <h4>Informe os dados do débito em conta</h4>
        <img class="imagen-cartao" src="../public/images/c.png" alt="">
    </div>

    <main >
        <form class="formulario" action="">
            <input class="nome" placeholder="Nome" type="text">
            <br>
            <input class="sobrenome" placeholder="Sobrenome" type="text">
            <br>
            <input class="cpf" placeholder="CPF" type="text">
            <br>
            <input class="numero-do-cartao" placeholder="Numero do Cartão" type="text">
            <br>
            <input class="data" placeholder="Data de validade (MM/AA)" type="text">
            <br>
            <input class="CVC" placeholder="Código de segurança (CCV)" type="text">
        </form>
    
    </main>

    <div class="botao">
        <button class="salvar" type="submit">SALVAR</button>
    </div>
    
</body>
</html>