<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagament 02</title>
    <link rel="stylesheet" href="../public/stylesheets/pagamento.css">
</head>
<body>
    <%-include('partials/headerpag.ejs')%>

    <main>
        <section class="imagens">
            <div>
            <img class="img-01" src="../public/images/iconmonstr-computer-10-240 1.png" alt="" width="130" height="120">
            <img class="img-02" src="../public/images/iconmonstr-laptop-6-240.png" alt="" width="120" height="98">
            <img class="img-03" src="../public/images/iconmonstr-tablet-1-240 1.png" alt="" width="80" height="101">
        </div>
        </section>

        <section class="texto-01">
            <div class="div-texto">
            <h2>PASSO 2 DE 3</h2>
            <h1>CRIE SUA CONTA</h1>
            </div>
        </section>

        <section class="texto-final">
            <div class="final">
            <p><b>Use seu email e crie uma senha
                 para assistir à Netflix em qualque
                 r aparelho quando quiser.</b></p>
        </div>
        </section>

        <section class="BOTAO">
            <button><b>ENTRAR</b></button>
        </section>

    </main>
    
</body>
</html>