<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/perfil.css">
    <title>perfil</title>

</head>

<body>
    <div class="box-principal">
        <div style="margin-top: 70px;">
            <img src="../public/images/netflixlogo.png"  width="90px" >
           <p>Quem está assistindo ?</p>
            <div class="perfil">
                <div> 
                    <img src="../../public/images/avatar-jessica.png" width="90px">
                    <p>@Jessica</p>
                </div>
                <div> 
                    <img src="../public/images/avatar-warlisson.jpg" width="90px">
                    <p>@Warlisson</p>
                </div>
                
            </div>
            <div class="perfil">
                <div> 
                    <img src="../public/images/avatar-pablo.jpg" width="90px">
                    <p>@Pablo</p>
                </div><div> 
                    <img src="../public/images/avatar-vivien.png" width="90px">
                    <p>@Vivien</p>
                </div>
            </div>
        </div>
      

    </div>


</body>

</html>