<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="../public/stylesheets/search.css">
    <link rel="shortcut icon" href="../public/images/favicon.png" type="image/png">
</head>
<header>
    <a href="#" class="logo"><img src="../public/images/logo.png"></a>
    <ul class="navigation">
        <li><a href="#">Filmes </a></li>
        <li><a href="#">Séries</a></li>
        <li><a href="#">Kids</a></li>
        <li><a href="#">Assistir depois </a></li>
    </ul>
    <div class="search">
        <input type="text" placeholder="Search">
        <i class="fas fa-search"></i>
    </div>
    </div>


</header>
<body>
<div class="pesquisa">
        <h1>VOCÊ PROCUROU POR:</h1>
        
    </div>
    <div class="imagem-centro">
        <img src="../public/images/atraves-da-minha-janela.jpg" height="280" width="190" style="margin-right: 10px; margin-bottom: 10px;">

    </div>
    <div class="nome-filme">
        <h3>Através da Minha Janela</h3>
    </div>

    <div class="descricao">
        <p>A paixão de Raquel pelo vizinho vira algo mais depois que ele também começa a sentir algo por ela, apesar das objeções da família. Assista o quanto quiser. Julio Peña, Clara Galle e Pilar Castro estrelam esta adaptação do famoso livro para jovens adultos de Ariana Godoy.</p>
    </div>
</body>
