<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%-include('partials/head')%>
</head>
 <header>
    <%-include('partials/header')%>


    </header>

    <body>
    <div class="Series">
        <p>Series</p>
        <img src="../public/images/lucifer.jpg" height="280" width="190" style="margin-right: 10px; margin-bottom: 10px;">
        <img src="../public/images/jessica.jpeg" height="280" width="190" style="margin-right:10px; margin-bottom: 10px;">
        <img src="../public/images/lupin.jpeg" height="280" width="190" style="margin-right:10px; margin-bottom: 10px;">
        <img src="../public/images/block.jpeg" height="280" width="190" style="margin-right:10px; margin-bottom: 10px;">
        <img src="../public/images/king.jpg" height="280" width="190" style="margin-right:10px; margin-bottom: 10px;">
        <img src="../public/images/narcos.jpg" height="280" width="190" style="margin-right:10px; margin-bottom: 10px;">
        <img src="../public/images/sense.jpg" height="280" width="190" style="margin-right:10px; ">
        <img src="../public/images/black.jpeg" height="280" width="190" style="margin-right:10px;">
        <img src="../public/images/arrow.jpeg" height="280" width="190" style="margin-right:10px;">
        <img src="../public/images/tiros.jpeg" height="280" width="190" style="margin-right:10px;">
        <img src="../public/images/la-casa.jpeg" height="280" width="190" style="margin-right:10px;">
        <img src="../public/images/orange.jpg" height="280" width="190" style="margin-right:10px;">

   
</body>
    <footer class="rodape">

    </footer>

</body>

<footer class="rodape">
    <%-include('partials/footer')%>



</footer>

</html>